/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
  margin-bottom: 1.5em;
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

h2.block-title { /* Block title */
}

#header h2.block-title {
	text-transform: uppercase;
	font-size: 100%; letter-spacing: 0.8pt;
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
	float: left;
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

/*
 * Menu Blocks
 */

#block-menu-block-1 {
  float: right;
}

/*
* Islandora Blocks
*/

#block-islandora-solr-simple {
	width: 45%; margin-top: 180px; float: right;

}

#block-islandora-solr-simple #edit-simple {
	display: block;
	position: relative;
	overflow: hidden;
}

.adv_search { display: block; margin-top: 5px; font-size: 90%; }

#edit-islandora-simple-search-query {
	width: 71%; height: 45px;
	border-radius:  5px;
	font-size: 165%;
	padding-right: 100px;
}

#block-block-5 {
	float: left;
	margin-top: 165px;
	width: 45%;
}

	#block-block-5 h2{
		font-family: 'Opal LT Pro';
		font-style: italic;
		font-weight: normal;
		font-size: 250% !important;
		letter-spacing: 0 !important;
		text-transform: none !important;
		height: 40px;
	}

#block-block-6 {
	margin-top: -50px;
	float: right; width: 45%;
}

#header #edit-submit {
	margin-left: -96px;
	height: 36px; width: 85px;
	position: relative; top: -3px;
		border-radius: 5px;
		border: 1px solid #ccc;
}